*{
    margin: 0;
    padding: 0;
}

body{
    
    background-color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkslateblue;
    
}

header h1 {
    color: white;
    display: inline;
    /* border: 1px red solid; */
}

header ul{
/* border: red solid 2px; */
}

header li {
    display:inline-block;
    
    padding:30px 20px;
    color: white;
    /* border: solid red 2px; */
}
header li:hover{
    background-color: rgb(32, 23, 91);
}

a {
    color: inherit;
    text-decoration: none;
}